doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="javascripts/snap.svg.js")
    script(type="text/javascript" src="javascripts/snap.svg.zpd.js")
    script(type="text/javascript" src="javascripts/jquery.min.js")
    block js
  body
    block content
