extends layout

block js
  link(rel='stylesheet', href='/stylesheets/leaflet.css')
  script(type="text/javascript" src="javascripts/leaflet.js")


block content
  div#netzplan
  script(type="text/javascript" src="javascripts/netzplan_leaflet.js")